/*전체적으로 배경 색상을 주고 싶다면 body 태그에 작성하면 모두 작용*/

a {
  /* a 태그 밑줄 제거*/
  text-decoration: none;
  background-color: #f5f5f5;
  color: #333;
  padding: 12px 24px; /* 버튼 패팅 보통 상하 좌우 = 상하*2배*/
  border-radius: 8px;
  transition: background-color 0.3s;
  display: inline-block;
}
a:hover {
  background-color: #666;
  color: #fff;
}
body {
  background-color: #fdfdfd;
  color: #333333;
}

.header,
.footer {
  background-color: #ffa500;
  padding: 20px;
  text-align: center;
}
h1 {
  color: #333333;
  font-size: 40px;
  /*
        h1 기본 폰트 크기 = 32px 이지만
        32px 더 크게 만들길 원한다면 32px 이상으로 작성 가능
        32px 더 작게 만들기도 가능
        */
}
h2,
li {
  font-weight: bold;
}
.테마버튼 {
  text-align: center;
}
/* div 안에 text-align을 사용하고 가운데 정렬을 했는데 되지 않을 경우
display: inline-block; -div에 작성하는 것이 아니라 a나 img 와 같은 태그에 직접적 작성
왜 text-align를 했을 때 적용이 되지 않냐면
a 태그는 inline 요소 = 가로 한 줄 전체를 차지하는 요소가 아니라 가로에서 부분적으로 차지하는 것
*/
.main,
.gallery,
.images {
  margin-top: 30px;
  margin-bottom: 20px; /*아래 20px 여백 공간 설정*/
  background-color: #ffffff;
  color: #333333;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #dddddd;
  /*입체적으로 보여주는 느낌
        box-shadow : A    B    C     color;
                     A:왼쪽이나 오른쪽으로 얼만큼 이동할 것인가?
                          0 = 이동안함
                          20px = 오른쪽으로 20px 만큼 이동
                          -20px = 왼쪽으로 20px 만큼 이동
                     B : 위쪽이나 아래쪽으로 얼만큼 이동할 것인가?
                          0 = 이동안함
                          20px = 아래쪽으로 20px 만큼 이동
                          -20px = 위쪽으로 20px 만큼 이동
                     C : 얼만큼 흐리게 만들 것인가?
                     color : 그림자 효과의 색상을 지정          
        색상 팁 :
            #영어로 시작 : 하얀색에서 시작
            #숫자로 시작 : 검정색에서 시작
            rgba(0, 0, 0, 0.1 ~ 0.9);
            rgba(0, 0, 0, 불투명도)
        
    */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
li:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px;
}
.gallery,
.images {
  text-align: center;
}
.gallery img,
.images img {
  width: 150px;
  border-radius: 8px;
  margin-right: 50px;
  border: 2px solid #444;
}
.gallery img:hover {
  width: 200px;
}
.images img:active {
  width: 300px;
}
